In [10]:
#Build In Functions
#1.abs() --> returns the value absolute numbers
x = abs(10.10)
print(x)

y = abs(-110.111000)
print(y)

10.1
110.111

In [18]:
#2.all() --> returns the value of true or false  (any one of the value is false means result is false)
x=[1,1,1]
y=all(x)
print(y)

x=[1,0,1]
y=all(x)
print(y)

x=[False,True,False]
y=all(x)
print(y)

x=[]
y=all(x)
print(y)

True
False
False
True

In [17]:
#3.any() function --> returns the value of true or false (any one of the value is true means result is true)
a = [False, True, False]
x = any(a)
print(x)

b = [1, 0, 0]
x = any(b)
print(x)

c = []
x = any(c)
print(x)

True
True
False

In [21]:
#ascii function -->different character should be changed
x = ascii("My namöe is Råj")
print(x)

y=ascii("My namöe राज")
print(y)

'My nam\xf6e is R\xe5j'
'My nam\xf6e \u0930\u093e\u091c'

In [24]:
#bin() function -->return value in binary convertion
# The result will always have the prefix 0b
x = bin(10)
print(x)

y=bin(16)
print(y)

0b1010
0b10000

In [29]:
#bool --> return a value of true or false
x = bool(1)
print(x)
y = bool(0)
print(y)
y = bool()
print(y)

True
False
False

In [31]:
#int() function 
x=int(10.885554575)
print(x)
x = int("12")
print(x)

10
12

In [36]:
#len() function 
x = len("Hello")
print(x)

y= ["Hello","test","teadsf"]
z=len(y)
print(z)

5
3

In [38]:
#max()
c = max(5, 10)
print(c)
d=max(70,90,101,200,100)
print(d)

10
200

In [40]:
#min()
c = min(5, 10)
print(c)
d=min(70,90,101,200,100)
print(d)

5
70

In [44]:
#float()
a = float(3)
print(a)
b = float(30.1210)
print(b)
c = float("3.500")
print(c)

3.0
30.121
3.5

In [48]:
#bytearray() function
a= bytearray(4)
print(a)

b=bytearray(6)
print(b)

#bytes() function
t = bytes(4)
print(t)

bytearray(b'\x00\x00\x00\x00')
bytearray(b'\x00\x00\x00\x00\x00\x00')
b'\x00\x00\x00\x00'

In [51]:
#chr() function ---> print the letter of A to Z and a to z 
x = chr(65)
print(x)
x = chr(66)
print(x)
x = chr(67)
print(x)
x = chr(68)
print(x)

A
B
C
D

In [53]:
#print function
print("Hello World")

Hello World

In [57]:
#iter function
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

In [62]:
#next() Function
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
y = next(mylist)
print(y)
z = next(mylist)
print(z)

apple
banana
cherry

In [66]:
#input() function
print("Enter your name:")
y = input()
print("Hello, welcome to " + y)

Enter your name:
Rajkumar
Hello, welcome to Rajkumar

In [69]:
#format()
x = format(255, 'x')
print(x)
y = format(255, 'o')
print(y)
z= format(255, 'b')
print(z)

ff
377
11111111

In [82]:
#range() Function
x=range(6)
print(x)
y=range(6)
for n in y:
    print(n)    
print('-----')
z=range(3,15,2)
for n in z:
      print(n)

range(0, 6)
0
1
2
3
4
5
-----
3
5
7
9
11
13

In [98]:
#reversed() Function
a = ["a", "b", "c", "d"]
b = reversed(a)
for x in b:
     print(x)
print('-----')
e=["I","H","G","F","E","D","C","B","A"]
f=reversed(e)
for i in f:
    print(i)

d
c
b
a
-----
A
B
C
D
E
F
G
H
I

In [104]:
#sorted function
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a,reverse=True)
print(x)
a = (1, 11, 2)
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
[1, 2, 11]

In [103]:
#str function
x = str(3.5)
print(x)
x = int("12")
print(x)

3.5
12

In [106]:
#type() function
a = 5j
b = "Hello World"
c = 33
x = type(a)
y = type(b)
z = type(c)
print(x)
print(y)
print(z)

<class 'complex'>
<class 'str'>
<class 'int'>

In [111]:
#sum() function
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)
b=(3,2,10)
b=sum(b)
print(b)

15
15